* {
    margin: 0; 
    padding: 0; 
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
    color: #1F2F56;
}

/* Desktop Styling */

body {
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: #E0E8FF;
}

.order-summary-container {
    width: 337px;
    height: 575px;
    background-color: #FFF;
    position: relative;
    top: 30px;
    left: 465px;
    border-radius: 10px;
    box-shadow: 0 3px 20px rgb(0 0 0 / 0.3);
}

.order-summary-container img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 10px;
    width: 337px;
}

.order-summary-text {
    padding: 40px;
    text-align: center;
}

.order-summary-text h1 {
    font-size: 1.75rem;
    font-weight: 900;
}

.order-summary-text p {
    margin-top: 20px;
}

.annual-plan {
    display: flex;
    padding: 30px;
    background-color: #F5F7FF;
    width: 220px;
    position: relative;
    left: 27px;
}

.annual-plan-text p, strong {
    font-size: 0.875rem;
}

.annual-plan a {
    margin-left: 90px;
    margin-top: 8px;
    font-weight: 700;
}

.payment-buttons {
    display: inline-grid;
}

.payment {
    width: 300px;
    height: 50px;
    margin-left: 75px;
    border: none; 
}